@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "_Layout_Features.cshtml";
    string id = Model.Settings.Value<string>("formControlId").Replace(" ", "-", StringComparison.InvariantCulture);
    string name = Model.Settings.Value<string>("formControlId").Replace(" ", "", StringComparison.InvariantCulture);
    string required = Model.Settings.Value<bool>("formControlRequired") ? "required" : "";
    var extraClass = Model.Settings.Value<string>("formControlClass");
    var errMessage = Model.Settings.Value<string>("formControlErrorMessage");
    var label = Model.Settings.Value<string>("formControlLabel");
    string ariaId = "help_" + name;

    var field = Model.Content;
    var placeholder = field.Value<string>("formControlPlaceholder");
    var helptext = field.Value<string>("formControlHelpText");

    string max = field.Value<int>("formControlMax") > 0 ? $@"max=""{field.Value<int>("formControlMax")}""" : "";
    string rows = field.Value<string>("FormControlRows") ?? "4";

}

<div class="mb-2 mt-1">
    <label for="@id" class="form-label">@label</label>
    <textarea aria-describedby="@ariaId" @max name="@name" id="@id" class="form-control rounded-2 @extraClass" rows="@rows" placeholder="@placeholder" @required></textarea>
    <small id="@ariaId" class="form-text text-muted" our-if="!string.IsNullOrWhiteSpace(helptext)">@helptext</small>
    <div class="invalid-feedback">@errMessage</div>
</div>

